$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #555;

$color-error: #fa5252;

$color-white: #fff;
$color-black: #000;

$color-red: #ff6b6b;
$color-red-light: #ffa8a8;
$color-red-dark: #e03131;

$primary-color: #339af0;
$primary-color-dark: #1971c2;
$primary-color-light: #74c0fc;
$primary-color-lighter: #d0ebff;

$secondary-color: #fcc419;
$secondary-color-dark: #f08c00;
$secondary-color-light: #ffe066;

$font-size-medium: 1.6rem;

$transition-normal: 0.3s;

$background-color-section: rgba(#fff4e6, 0.7);
