@import "../abstracts/variables.scss";

.about_container{
    display:flex;
    flex-direction: column;
    padding:15rem;
}
.main_information{
    display:flex;
    flex-direction: row;
}
.description{
    display:flex;
    flex-direction: column;
    margin-left:10rem;

    &__maintitle{
        font-size:5rem;
    }
    &__paragraf{
        font-size:1.5rem;
    }
    &__line{
        margin-top:3rem;
    }
}
.contact__button__container{
    display:flex;
    flex-direction: row;
}
.contact__button{
    margin-top:2rem;
    display:flex;
    flex-direction: row;
    margin-left:60rem;
    gap:3rem;
    &__title{
        display:flex;
        font-size:1.8rem;
        margin-top:5rem;
    }
    &__button{
        
        align-items: flex-end;
        justify-content: flex-end;
        border-radius:3rem;
        border:0.2rem solid $primary-color-dark;
        padding:1rem;
        color:$primary-color-dark;
        width:12rem;
        margin-top:3rem;
        font-size:1.8rem;

        &:hover,:active{
            background-color:$primary-color-dark ;
            color:white;    
        }
    }
}
.join_button{
    background-color:$primary-color-dark;
    border-radius:4rem;
    border:0rem;
    height:7rem;
    //padding:0.5rem;
    color:white;
    width:12rem;
    margin-top:5rem;
    font-size:1.8rem;

    &:hover,:active{
        background-color:$primary-color ;
    }
    
}
.about{
    margin-top:10rem;
    display:flex;
    flex-direction: row;
    //  margin:10rem;

    &__information{
        display:flex;
        flex-direction: column;
        width:50%;
        gap:3rem;    
    }
    &__image{
        width:50%;
        padding:5rem;

        &__img{
            width:70rem;
            border-radius:5rem;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
            //margin-left:30rem;
        }
    }
}
.information__paragraf{
    font-size:1.3rem;
}
.information__maintitle{
    font-size:5rem;
}   
