@import "../abstracts/variables.scss";
@import "../base/utilities.scss";

.service_container{
  display:flex;
  flex-direction: column;
  width:100%;
}
.service {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
  margin-bottom: 4.8rem;

  &__img {
    display:flex;
    width:60rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-left:3rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid rgba($primary-color-dark, 0.2);

    .contact {
      display: flex;
      gap: 1rem;

      &__title {
        color: $color-grey-dark-2;
      }

      &__title:link,
      &__title:visited {
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 700;
      }

      &__icon {
        font-size: 2.4rem;
        color: $primary-color-dark;
      }
    }
  }

  &__info {
    padding: 3.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

    .plan {
      padding-bottom: 2.4rem;

      &__title {
        font-size: 1.6rem;
        color: $primary-color-dark;
        font-weight: 800;
        margin-bottom: 1.2rem;
      }

      &__item {
        font-size: 1.8rem;
        display: flex;
        gap: 1.2rem;
        margin-bottom: 0.6rem;
      }

      &__time {
        color: $secondary-color-dark;
        font-weight: 800;
      }
    }
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 800;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__button {
    cursor: pointer;
    background-color: $primary-color;
    border: none;
    padding: 2.4rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: $color-white;
    border-radius: 12px;
    transition: $transition-normal;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);

    &:hover {
      background-color: $primary-color-dark;
      box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
      transform: translateY(-2rem);
    }

    &:active {
      box-shadow: 0 0.6rem 1rem rgba($color-black, 0.2);
    }
  }
}

.about {
  box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
  display: flex;
  gap: 4.6rem;
  padding: 3.2rem;
  margin-bottom: 4.8rem;
  padding-left:7rem;

  .description {
    width: 100%;

    &__title {
      font-size: 1.8rem;
      font-weight: 800;
      margin-bottom: 2.4rem;
    }

    &__text {
      font-size: 1.6rem;
    }
  }

  .bonuses {
    width: 100%;

    &__title {
      font-size: 1.8rem;
      font-weight: 800;
      margin-bottom: 2.4rem;
    }

    &__container {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      .bonus {
        display: flex;
        gap: 1.2rem;
        text-align: center;

        &__icon {
          font-size: 3.2rem;
          color: $secondary-color-dark;
        }

        &__text {
          font-size: 1.8rem;
        }
      }
    }
  }
}

.facilities {
  box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  margin-left:7rem;

  &__title {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 2.4rem;
    margin-left:7rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    .facility {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width:90%;
      padding-bottom: 3.2rem;
      margin-left:7rem;

      &:not(:last-child) {
        border-bottom: 1px solid rgba($primary-color, 0.2);
      }

      &__title {
        font-size: 2.4rem;
        color: $secondary-color-dark;
        font-weight: 400;
      }

      &__cost {
        font-size: 3.2rem;
        font-weight: 700;
        color: $primary-color-dark;
      }

      &__box {
        display: flex;
        gap: 2rem;
      }

      &__button {
        cursor: pointer;
        background-color: $primary-color;
        border: none;
        padding: 1.2rem 3.2rem;
        font-size: 1.8rem;
        font-weight: 700;
        color: $color-white;
        border-radius: 12px;
        transition: $transition-normal;
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
        width: 20rem;

        &:hover {
          background-color: $primary-color-dark;
          box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
          transform: translateY(-0.5rem);
        }

        &:active {
          box-shadow: 0 0.6rem 1rem rgba($color-black, 0.2);
        }
      }
    }
  }
}
.wishlist__icon{
  display: inline-block;
  font-weight: bold;
  font-size:4rem;
  padding-top:1rem;
  padding-left:-5rem;
  cursor:pointer;

  &:hover{
    color:black;
  }
  // font-size:10rem;
}

.wishlist__title{
  display: inline-block;
  font-size:2rem;
  padding-left:70%;
  padding-top:1rem;
  
}


@media only screen and (max-width: 768px) and (min-width:480px) {
  .service_container{
    width:100%;
    justify-content:center;
    padding:5%;
  }
  .service {
    justify-content:center;
    flex-direction: column;

    &__img{
    width:90%;
    border-radius:12px;
    }
  }
  .facilities{

    flex-direction: column;
    &__container{
      .facility{
        padding-right:6rem;
          &__button{
           width:15rem;
            }
            &__title{
              font-size:2rem;
              flex:1;
            }
            &__cost{
              font-size:2.2rem;
              flex:1;
            }
        }
      }
  


  }
  .about{
    flex-direction: column;

  }
  .wishlist__icon{
    display: inline-block;
    font-weight: bold;
    font-size:4rem;
    padding-top:1rem;
    padding-right:40%;
    cursor:pointer;
  
    &:hover{
      color:black;
    }
    // font-size:10rem;
  }
  
  .wishlist__title{
    display: inline-block;
    font-size:1.5rem;
    padding-left:40%;
    padding-top:1rem;
    display:none;
    
  }

}
  


  @media only screen and (max-width: 480px) and (orientation:portrait) {
    .service_container{
      flex-direction: column;
      width:100%;
      justify-content:left;
      padding:5%;
    }
    .service {
      flex-direction: column; 
      justify-content: center;
      &__img{
      width:30rem;
      border-radius:12px;
      } 
      
    }
    .facilities{
      flex-direction: column;
      &__title{
        margin-left:1rem;
      }
    
        &__container{
      .facility{
        margin-left:2rem;

            &__button{
              padding-right:0.5rem;
              padding-left:0.5rem;
              width:10rem;
              }
            &__title{
              font-size:1.5rem;
              flex:1;
              padding-left:2rem;
            }
            &__cost{
              font-size:1.5rem;
              flex:1;
            }
          }
        }
      }

      .about{
      flex-direction: column;
  
    }
    .wishlist__icon{
      display: inline-block;
      font-weight: bold;
      font-size:4rem;
      padding-top:1rem;
      padding-right:3rem;
      cursor:pointer;
    
      &:hover{
        color:black;
      }
      // font-size:10rem;
    }
    
    .wishlist__title{
      display: inline-block;
      font-size:1.5rem;
      padding-left:25%;
      padding-top:1rem;
      display:none;
      
    } 
  }

    


